<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9e4eb">  <td>18/09/12 16:19:49</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;GetAllBreedsTest.getData()[pri:0, instance:cib.digital.tests.GetAllBreedsTest@445b295b]">&gt;&gt;getData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1595282218</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>18/09/12 16:19:49</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetAllBreedsTest.ListAllBreeds()[pri:0, instance:cib.digital.tests.GetAllBreedsTest@445b295b]">ListAllBreeds</td> 
  <td>main@1595282218</td>   <td></td> </tr>
</table>
