<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d07cbb">  <td>18/09/12 16:12:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetGoldenRetrieverImageTest.GetRetrieverImage()[pri:0, instance:cib.digital.tests.GetGoldenRetrieverImageTest@3e96bacf]">GetRetrieverImage</td> 
  <td>main@1248234350</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>18/09/12 16:12:10</td>   <td>-3789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetAllBreedsTest.ListAllBreeds()[pri:0, instance:cib.digital.tests.GetAllBreedsTest@445b295b]">ListAllBreeds</td> 
  <td>main@1248234350</td>   <td></td> </tr>
<tr bgcolor="fcb6ab">  <td>18/09/12 16:12:14</td>   <td>-474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetRetrieverSubBreedsTest.ListSubBreedRetriever()[pri:0, instance:cib.digital.tests.GetRetrieverSubBreedsTest@6236eb5f]">ListSubBreedRetriever</td> 
  <td>main@1248234350</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>18/09/12 16:12:10</td>   <td>-3807</td> <td>&nbsp;</td><td title="&gt;&gt;GetAllBreedsTest.getData()[pri:0, instance:cib.digital.tests.GetAllBreedsTest@445b295b]">&gt;&gt;getData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1248234350</td>   <td></td> </tr>
<tr bgcolor="fcb6ab">  <td>18/09/12 16:12:14</td>   <td>-475</td> <td>&nbsp;</td><td title="&gt;&gt;GetRetrieverSubBreedsTest.getData()[pri:0, instance:cib.digital.tests.GetRetrieverSubBreedsTest@6236eb5f]">&gt;&gt;getData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1248234350</td>   <td></td> </tr>
<tr bgcolor="d07cbb">  <td>18/09/12 16:12:14</td>   <td>-1</td> <td>&nbsp;</td><td title="&gt;&gt;GetGoldenRetrieverImageTest.getData()[pri:0, instance:cib.digital.tests.GetGoldenRetrieverImageTest@3e96bacf]">&gt;&gt;getData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1248234350</td>   <td></td> </tr>
</table>
